/* Notes:
Alternative Pallete
text color (xyz): #357b70;
secondary color (dark gray): #474747;
tertiary color (dark olive green): #556b2f;
	(deep red): #860d0d;


contrast ratio checker: https://contrast-ratio.com/#white-on-%23357b70;
*/

:root {
	--primary-color: #f5f5f5; /*light gray*/
	--secondary-color: #66b3b3; /*light teal: #bfdfdf; med/dark: #66b3b3, #008080;*/
	--gray: #b5b5b5; /*med gray; dark gray: #474747;*/
	--purple: #751947; /*plum purple*/
	--yellow: #D6A300; /*deep yellow*/
	--body-font-weight: 400;
	--body-font-size: 16px;
	--header-font-weight: 700;
	--nav-list-color: #000;
	--link-color: #008080;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: var(--body-font-weight);
	font-size: var(--body-font-size);
	line-height: 1.6;
	background-color: var(--primary-color);
}

h1,
h2,
h3 {
	font-weight: var(--header-font-weight);
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

a {
	color: var(--nav-list-color);
}

a:visited {
	color: var(--nav-list-color);
}

a:hover,
a:focus {
	text-decoration: none;
}

a:active {
	color: var(--purple);
}

.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
	background-color: var(--secondary-color);
	align-items: center;
}

.page-header__item {
	flex: 0 1 200px;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.logo {
	max-width: 70px;
	height: auto;
	margin-right: 15px;
}

.logo-name {
	max-width: 300px;
	height:	auto;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active {
	text-decoration: none;
}

button,
.button {
	border: none;
	font-family: inherit;
	background-color: var(--purple);
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.button_secondary {
	background-color: var(--yellow);
	color: #000;
}

.button-practice * {
	display: none;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
}

.profile__portrait {
	float: left;
	max-height: 250px;
	width: auto;
	margin-right: 40px;
	border-radius: 50%;
}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.page-footer__icon-source {
	line-height: 2;
	display: inline-block;
	vertical-align: middle;
}

.page-footer__icon-source:last-child {
	font-size: 12px;
}

section {
	margin: 20px;
	text-align: center;
}

.about-photos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.about-photos__item {
	max-width: 250px;
	height: auto;
	flex: 0 1 50px;
	margin: 15px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.project-list {
	display: inline-block;
	width: 100%;
	margin: 0px;
	justify-content: center;
}

@supports (display: grid) {
	.project-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin: 0px;
	}
	.project-list__item {
		background-color: var(--gray);
		width: auto;
		min-height: auto;
		padding: 15px;
		margin: 0;
	}
	.project-list__item:last-child {
		grid-column: 3 / 3;
		grid-row: 1 / 3;
		width: auto;
	}
}

@media all and  (max-width: 750px) {
	.project-list {
		grid-gap: 10px;
	}
	.project-list__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: 22px;
	}
}

@media all and  (min-width: 500px) and (max-width: 750px) {
	.project-list {
		grid-template-columns: 1fr 1fr;
	}

}

@media all and  (max-width: 500px) {
	.project-list {
		grid-template-columns: 1fr;
	}
}

@keyframes cloud-move {
  from {
    transform: translate(0, 60px);
  }
  to {
    transform: translate(650px, 60px);
  }
}

.cloud-front {
  animation: 15s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(450px, 40px);
  }
  to {
    transform: translate(0, 40px);
  }
}

.cloud-back {
  animation: 10s cloud-move-reverse infinite alternate linear;
}

@keyframes pulse {
	0% {
		transform: scale(0.95, 0.95);
	}
	100% {
		transform: scale(1, 1);
	}
}

.sun-inner {
	animation: 5s pulse ease-out infinite normal;
}
