/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	background-color: #f5f5f5;
}

h1 {
	font-weight: 700;
	font-size: 30px;
}

h2 {
	font-weight: 700;
	font-size: 30px;
}

h3 {
	font-weight: 700;
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

a {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:active {
	color: #751947;
}

.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
	background-color: #66b3b3;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.page-header__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
	overflow: hidden;
}

.logo {
	max-width: 70px;
	height: auto;
	margin-right: 15px;
}

.logo-name {
	max-width: 75%;
	height:	auto;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active {
	text-decoration: none;
}

button {
	border: none;
	font-family: inherit;
	background-color: #751947;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
}

.button {
	border: none;
	font-family: inherit;
	background-color: #751947;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.button_secondary {
	background-color: #d6a300;
	color: #000;
}

.button-practice * {
	display: none;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
}

.profile__portrait {
	float: left;
	max-height: 250px;
	width: auto;
	margin-right: 40px;
	border-radius: 50%;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

.page-footer__icon-source {
	line-height: 2;
	display: inline-block;
	vertical-align: middle;
}

.page-footer__icon-source:last-child {
	font-size: 12px;
}

section {
	margin: 20px;
	text-align: center;
}

.about-photos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0 auto;
}

.about-photos__item {
	max-width: 250px;
	height: auto;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50px;
	        flex: 0 1 50px;
	margin: 15px;
}

.desert-landscape__image {
	width: 80%;
	height: auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.project-list {
	display: inline-block;
	width: 100%;
	margin: 0px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

@supports (display: grid) {
	.project-list {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin: 0px;
	}
	.project-list__item {
		background-color: #b5b5b5;
		width: auto;
		min-height: auto;
		padding: 15px;
		margin: 0;
	}
	.project-list__item:last-child {
		-ms-grid-column: 3;
		grid-column: 3 / 3;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		grid-row: 1 / 3;
		width: auto;
	}
}

@media all and  (max-width: 750px) {
	.project-list {
		grid-gap: 10px;
	}
	.project-list__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: 22px;
	}
}

@media all and  (min-width: 500px) and (max-width: 750px) {
	.project-list {
		-ms-grid-columns: 1fr 10px 1fr;
		grid-template-columns: 1fr 1fr;
	}

}

@media all and  (max-width: 500px) {
	.project-list {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 60px);
            transform: translate(0, 60px);
  }
  to {
    -webkit-transform: translate(650px, 60px);
            transform: translate(650px, 60px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 60px);
            transform: translate(0, 60px);
  }
  to {
    -webkit-transform: translate(650px, 60px);
            transform: translate(650px, 60px);
  }
}

.cloud-front {
  -webkit-animation: 15s cloud-move infinite alternate linear;
          animation: 15s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(450px, 40px);
            transform: translate(450px, 40px);
  }
  to {
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(450px, 40px);
            transform: translate(450px, 40px);
  }
  to {
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }
}

.cloud-back {
  -webkit-animation: 10s cloud-move-reverse infinite alternate linear;
          animation: 10s cloud-move-reverse infinite alternate linear;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95, 0.95);
		        transform: scale(0.95, 0.95);
	}
	100% {
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(0.95, 0.95);
		        transform: scale(0.95, 0.95);
	}
	100% {
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
}

.sun-inner {
	-webkit-animation: 5s pulse ease-out infinite normal;
	        animation: 5s pulse ease-out infinite normal;
}
